<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ProfProject">

<listeners>
		<listener class-name="com.profproject.utilities.Reportinglistener" />
	</listeners>


	<test name="Heroku App Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<!-- <class name="com.profproject.testcases.TC_InvalidLoginTest_001" />-->
			<!-- <class name="com.profproject.testcases.TC_LoginTest_002" />-->
			<class name="com.profproject.testcases.TC_LoginDDT_003" />
				<!-- <class name="com.profproject.testcases.TC_HerokuOpExTest_004"/>-->
			 	<!-- <class name="com.profproject.testcases.TC_Login_Logout_005" />-->
			<!--<class name="com.inetbanking.testcases.TC_AddCustomerTest_003" />-->
			 <!--  <class name="com.profproject.testcases.TC_Test_001" />-->
		</classes>

	</test>

</suite>
 